<div class="row mb-5">
    <div class="col-md-6 offset-3">
        <h1 class="text-info"> Oopss We have catched an Error Take Care !!!!</h1>
        <a class="btn btn-outline-success" asp-controller="Movie" asp-action="index">Go To Home</a>
    </div>
</div>